<p>Α1.Proepeksergasia kai proetoimasia dedomenwn</p>

In [2]:
import re
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras import backend as K
from tensorflow.python.keras.optimizer_v1 import SGD
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import normalize
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from keras.callbacks import EarlyStopping



# read flash.dat to a list of lists


# collect the train data 
with open("train-data.dat", "r") as file:
     data = file.readlines()
     train=[]
     for i in range(len(data)):
        newlist=re.sub('<([0-9]|([1-9][0-9]))>',' ',data[i])
        train.append(newlist)

# collect the test data 
with open("test-data.dat", "r") as file1:
     data1 = file1.readlines()
     test=[]
     for i in range(len(data1)):
        newlist1=re.sub('<([0-9]|([1-9][0-9]))>',' ',data1[i])
        test.append(newlist1)
     
ytrain1 = np.loadtxt('train-label.dat' , delimiter = ' ')
ytest1 = np.loadtxt('test-label.dat' , delimiter = ' ')

ytrain=np.array(ytrain1)
ytest=np.array(ytest1)


count_vector1 = CountVectorizer(train)
count_vector2 = CountVectorizer(test)




count_vector1.fit(train)
count_vector2.fit(test)





doc_array1 = count_vector1.transform(train).toarray()
doc_array2 = count_vector2.transform(test).toarray()




df1 = pd.DataFrame(doc_array1,index=train,columns=count_vector1.get_feature_names())
df2 = pd.DataFrame(doc_array2,index=test,columns=count_vector2.get_feature_names())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [3]:
df1.head()

,10,100,1000,1001,1002,1003,1004,1005,1006,1007,...,990,991,992,993,994,995,996,997,998,999
6705 5997 8310 3606 674 8058 5044 4836 4312 5154 8310 4225\n,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1827 1037 8482 483 3567 6172 6172 2892 1362 787 399 777 1332 318 769 4621 3199 1480 6213 971 6890 5909 15 3445 2475 324 4138 3404 6176 65 2926 1375 7705 709 1323 1652 5735 7439 3445 2475 4396 4382 1798 1870 1845 4410 7758 4278 7775 318 769 2898 1923 8193 2930 485 5951 6123 2480 3158 2193 2438 7485 3412 5304 5644 3734 7459 1652 3174 8343 426 1968 7506 561 4051 2722 6717 6172 3432 7859 4595 2351 5951 135 7023 7215 7038 7221 560 4631 4411 1348 8185 5192 3445 2475 5696 5154 361 7953 4245 560 2351 4410 7758 2174 1120 6688 7705 2747 1296 1652 134 5909 7953 4245\n,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8482 787 2169 4077 6335 1137 1598 1055 1223 2735 3492 413 838 4457 8392 3631 3699 42 5217 4281 6309 2912 6629 1985 2781 2155 5217 8032 860 7998 1469 4077 682 5950 7654 1561 5217 137 4032 42 5217 29 365 5339 4081 4386 7654 679 5217 620 8197 679 8403 42 5217 2134 5427 980 550 316 762 5582 3148 6039 5217 7378 470 674 8197 1072 42 5217 4164 470 5208 7048 371 2602 2975 6690 1386 3303 1193 8197 6955 894 2839 42 7194 5217 135 4998 2797 470 470 3154 2651 94 1450 4176 5366 5217 1564 1657 3481 886 4462 660 2044 5217 1657 4688 4716 894 2839 1770 5339 2368 8424 674 5055 872 5217 4123 5506 3134 8151 2287 1851 8197 1357 4002 5217 163 771 4877 6954 2623 42 664 2468 1194 4013 5785 2155 5757 5217 7146 6103 7553 6610 1824 5623 2287 1566 2115 1072 1945 1366 7593 5339 5055 4021 5217 29 1386 8243 1072 6068 3988 2781 2155 5217 1386 1072 5217 1386 8243 2287 5217 4851 7654 6073 679 5217 965 2287 852 345 1085 1386 1450 1163 852 2781 4439 6 3424 3733 8115 4386 5217 5339 4049 2623 1194 3424 2287 5217 2912 2836 12 2623 1386 4312 1908 5217 2947 2623 5427 5217 1378 550 4711 6300 5604 1386 2287 6060 6901 1757 2729 8197 880 209 5793 1657\n,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3843 3843 5427 3355 3843 5154 7451 5101 681 5339 1910 1259 1921 3778 682 3375 1758 108 3681 1874\n,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5877 4688 5877 1137 343 4695 1145 125 679 5744 3481 5744 1145 125 679 674 343 2287 5744 679 574 5877 191 3492 219 4688 191 1137 5877 1054 674 6622 3930 2419 537 2419 5312 2419 406 1621 7659 3400 4621\n,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df2.head()